@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$dark-blue: #0044cb;
$light-blue: #25aae1;
$gray: #646464;

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

body {
  -webkit-appearance: none;
  -webkit-text-size-adjust:100%;
  font-family: 'Lexend Deca', sans-serif, Helvetica;
}

#content {
  width: 1300px;
  margin: 5rem auto;
  
  display: flex;
  justify-content: space-between;
}

article {
  width: 100%;
}

aside {
  width: 20%;
  padding: .3rem 0;
}

main {
  width: 78%;
  display: flex;
  flex-direction: column;
}

input[type=checkbox] {
  margin-right: .3rem;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}

#mobile-filter-bar {
  display: none;
}

#filter-img {
  height: 75%;
  width: auto;
}

#close-img {
  display: none;
}

#filters-title {
  margin-bottom: 1rem;
}

.filter-title {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  color: $gray;
}

.filter label {
  width: 50%;
  font-size: .9rem;
}

#apply-button {
  padding: .5rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  color: white;
  font-weight: bolder;
  border-radius: 1rem;
  background-color: $light-blue;
  border: none;
  box-shadow: 0px 2px 3px rgba(65, 132, 234, 0.75);
  cursor: pointer;
}

#word {
  width: 100%;
}

#word-titles-box {
  display: flex;
  align-items: center;
  gap: 0 .5rem;
}

.word-titles {
  font-size: 2rem;
  line-height: 100%;
  color: $dark-blue;
}

#favorite-image {
  width: 1.8rem;
  height: auto;
  cursor: pointer;
}

.word-meanings {
  margin-top: .8rem;
  font-size: 1.5rem;
  line-height: 120%;
  color: $gray;
}

.word-sentences {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 120%;
}

.word-tags {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 .5rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 15rem;
}

.word-tag {
  background-color: #d4562f;
  box-shadow: 1px 1px 3px $gray;
  color: white;
  text-align: center;
  padding: .2rem 1rem;
  border-radius: 3rem;
  font-weight: 500;
}

#switch-word-buttons {
  position: fixed;
  bottom: 15%;
  right: 20%;

  display: flex;
  gap: 0 3rem;
}

.switch-word-button {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 10px $gray;

  background-color: white;
  font-size: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

#switch-word-buttons #previous-word {
  color: $gray;
}

#switch-word-buttons #next-word {
  color: $light-blue;
}
  
footer {
  bottom: 10px;
  margin-top: 70vh;
}


@media only screen and (max-width:1200px) {

  #content {
    width: 90%;
    margin-top: 1rem;

    position: relative;
    display: block;
  }

  #mobile-filter-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 .5rem;
  }

  aside {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1.5rem 1rem 4rem;

    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    z-index: 99;
  }

  #close-img {
    display: block;
    width: 50px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  #filters-title {
    display: none;
  }

  input[type=checkbox] {
    margin-left: 1rem;
  }

  #apply-button {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1rem;
  }

  main {
    width: 100%;
  }

  article {
    width: 100%;
  }

  .word-titles-box {
    font-size: 1.8rem;
    line-height: 100%;
    display: none;
    background-color: #d4562f;
  }
  
  .word-meanings {
    font-size: 1.3rem;
    line-height: 120%;
  }
  
  .word-sentences {
    font-size: 1rem;
    line-height: 120%;
  }

  #switch-word-buttons {
    bottom: 10%;
    right: 10%;
    gap: 0 2rem;
  }

  .switch-word-button {
    width: 4rem;
    height: 4rem;
  }
}