@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
  margin: 0;
  padding: 5rem 20%;

  font-family: 'Lexend Deca', sans-serif, Helvetica;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}

.word {
  width: 100%;
}

p {
  margin: 0 0;
}

.word-titles {
  font-size: 2rem;
  line-height: 100%;
  color: #0044cb;
}

.word-meanings {
  margin-top: .8rem;
  font-size: 1.5rem;
  line-height: 120%;
  color: #646464;
}

.word-sentences {
  margin-top: 1.5rem;
  margin-bottom: 15rem;
  font-size: 1.2rem;
  line-height: 120%;
}

#switch-word-buttons {
  position: fixed;
  bottom: 10%;
  right: 20%;

  display: flex;
  gap: 0 3rem;
}

.switch-word-button {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 10px gray;

  background-color: white;
  font-size: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#switch-word-buttons #previous-word {
  color: #a7a7a7;
}

#switch-word-buttons #next-word {
  color: #25aae1;
}
  
footer {
  bottom: 10px;
  margin-top: 70vh;
}


@media only screen and (max-width:500px) {
  body {
    padding: 2rem 5%;
  }

  .word-titles {
    font-size: 1.8rem;
    line-height: 100%;
  }
  
  .word-meanings {
    font-size: 1.3rem;
    line-height: 120%;
  }
  
  .word-sentences {
    font-size: 1rem;
    line-height: 120%;
  }

  #switch-word-buttons {
    bottom: 10%;
    right: 10%;
    gap: 0 2rem;
  }

  .switch-word-button {
    width: 4rem;
    height: 4rem;
  }
}