@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

body {
  margin: 0;
  padding: 5rem 20%;

  font-family: 'Alkatra', cursive, 'Kiwi Maru', serif;
}

.word {
  width: 100%;
}

p {
  margin: 0 0;
}

.word-titles {
  font-size: 2rem;
  color: #0044cb;
}

.word-meanings {
  font-size: 1.5rem;
}

.word-sentences {
  font-size: 1.5rem;
}

.change-word {
  display: block;
  width: 10rem;
  height: 3rem;
  margin-left: auto;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 3rem;
  box-shadow: 1px 1px 5px gray;
  background-color: white;
  cursor: pointer;
}

  
footer {
  margin-top: 20rem;
}

@media only screen and (max-width:500px) {
  body {
    padding: 2rem 5%;
  }

  .change-word {
    position: fixed;
    bottom: 10%;
    right: 10%;
  }
}